/*GENERAL DOCUMENT FORMATTING*/

:root {
    --text-color: #33b210;
    --link-color: #ff5900;
    --background-color: #FDF5E7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    letter-spacing: 0.4px
}
a {
    text-decoration: none;
    color: var(--link-color);
}

/* NAVBAR STYLES */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    height: 50px;
}
nav .left a {
    font-size: 18px;
    color: var(--text-color);
    font-weight: bold;
}
nav .right a {
    font-size: 18px;
    color: var(--text-color);
    font-weight: bold;
}

/* IMG CAROUSEL */

.container {
    width: 100%;
    height: 600px;
    position: relative;
}

.container img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top:0%;
    left:0%;
    animation: fade 9s ease-in-out infinite alternate;
    margin-bottom: 20px;
}

img:nth-of-type(1) {
    animation-delay: 0s;
}

img:nth-of-type(2) {
    animation-delay: 3s;
}

img:nth-of-type(3) {
    animation-delay: 6s;
}

@keyframes fade {
    0% {opacity: 1;}
    33% {opacity: 0;}
    67% {opacity: 0;}
    100% {opacity: 1;}
}

/* ABOUT ME SECTION */

.about-me-section {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 25px;
    gap: 25px;
}

.about-me {
    font-size: 45px;
    justify-content: left;
    margin-bottom: 10px;
}

.about-me-text {
    display: flex;
    flex: 1 1 500px;
    font-size: 20px;
}
.about-me-section .headshot {
    display: flex;
}

.headshot img {
    width: 282px;
    height: auto;
    border-radius: 5px;
}

/* PROJECT SECTION */

.project-section-header {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0px 10px 25px;
    gap: 25px;
}

.project-section-header {
    font-size: 45px;
    justify-content: left;
}

.project-text {
    font-size : 20px;
    justify-content: left;
    margin-bottom: 10px;
}

.project-gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
}

/*HOVER EFFECTS FOR PROJECT IMAGES*/

.bloom:hover {
  opacity: 0.3;
  transition: .5s ease;
}

.filigree:hover {
  opacity: 0.3;
  transition: .5s ease;
}

.objekt:hover {
  opacity: 0.3;
  transition: .5s ease;
}

.sounds:hover {
  opacity: 0.3;
  transition: .5s ease;
}

.airspace:hover {
  opacity: 0.3;
  transition: .5s ease;
}

.oranges:hover {
  opacity: 0.3;
  transition: .5s ease;
}

/*PROJECT IMAGES */

.bloom img {
    width: 282px;
    height: auto;
    border-radius: 5px;
}

.filigree img {
    width: 282px;
    height: auto;
    border-radius: 5px;
}

.objekt img {
    width: 282px;
    height: auto;
    border-radius: 5px;
}

.sounds img {
    width: 282px;
    height: auto;
    border-radius: 5px;
}

.airspace img {
    width: 282px;
    height: auto;
    border-radius: 5px;
}

.oranges img {
    width: 282px;
    height: auto;
    border-radius: 5px;
}

/* FOOTER STYLES */

footer {
    font-style: italic;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}